.card_theme_shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.card_theme_color_grey {
  color: #9e9e9e;
}

.card__count {
  font-size: 1.2rem;
  font-weight: 500;
}

.card__social {
  background-color: #f6f9fd;
}