.menubar {
  width: 260px;
  z-index: 1000;
  height: -webkit-calc(100% - 72px);
  height: calc(100% - 72px);
  font-family: Roboto,sans-serif;
  color: rgba(117,117,117,.9);
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08);
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
  ::-webkit-scrollbar {
    width: 4px;
    height: 100%;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(189,189,189,.6);
    border-radius: 2px;
    transition: width,height .5s;
  }
}

.menubar__body {
  flex: 1 1 auto;
}
